* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/slis/GeoNames/Class/Class.java -text
src/main/java/edu/uiowa/slis/GeoNames/Class/ClassFeatureClassInverse.java -text
src/main/java/edu/uiowa/slis/GeoNames/Class/ClassFeatureClassInverseIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Class/ClassFeatureClassInverseType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Class/ClassInSchemeInverse.java -text
src/main/java/edu/uiowa/slis/GeoNames/Class/ClassInSchemeInverseIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Class/ClassInSchemeInverseType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Class/ClassIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Class/ClassLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/Class/ClassSubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/Code.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeDefinition.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeDefinitionIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeFeatureCodeInverse.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeFeatureCodeInverseIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeFeatureCodeInverseType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeHistoryNote.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeHistoryNoteIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeInScheme.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeInSchemeIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeInSchemeType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeNotation.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeNotationIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodePrefLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodePrefLabelIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Code/CodeSubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/DatatypeProperty/DatatypeProperty.java -text
src/main/java/edu/uiowa/slis/GeoNames/DatatypeProperty/DatatypePropertyComment.java -text
src/main/java/edu/uiowa/slis/GeoNames/DatatypeProperty/DatatypePropertyCommentIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/DatatypeProperty/DatatypePropertyIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/DatatypeProperty/DatatypePropertyLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/DatatypeProperty/DatatypePropertyLabelIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/DatatypeProperty/DatatypePropertySubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/DatatypeProperty/DatatypePropertyTheType.java -text
src/main/java/edu/uiowa/slis/GeoNames/DatatypeProperty/DatatypePropertyTheTypeIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/Feature.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureAlt.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureAltIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureAlternateName.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureAlternateNameIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureChildrenFeatures.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureChildrenFeaturesIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureChildrenFeaturesType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureCountryCode.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureCountryCodeIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureFeatureClass.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureFeatureClassIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureFeatureClassType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureFeatureCode.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureFeatureCodeIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureFeatureCodeType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureLat.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureLatIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureLocationMap.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureLocationMapIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureLocationMapType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureLong.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureLongIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureName.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureNameIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureNearbyFeatures.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureNearbyFeaturesIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureNearbyFeaturesType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureNeighbouringFeatures.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureNeighbouringFeaturesIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureNeighbouringFeaturesType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureOfficialName.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureOfficialNameIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM1.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM1Iterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM1Type.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM2.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM2Iterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM2Type.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM3.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM3Iterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM3Type.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM4.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM4Iterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentADM4Type.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentCountry.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentCountryIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentCountryType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentFeature.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentFeatureInverse.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentFeatureInverseIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentFeatureInverseType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentFeatureIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureParentFeatureType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeaturePopulation.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeaturePopulationIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeaturePostalCode.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeaturePostalCodeIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureSubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureWikipediaArticle.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureWikipediaArticleIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Feature/FeatureWikipediaArticleType.java -text
src/main/java/edu/uiowa/slis/GeoNames/ObjectProperty/ObjectProperty.java -text
src/main/java/edu/uiowa/slis/GeoNames/ObjectProperty/ObjectPropertyComment.java -text
src/main/java/edu/uiowa/slis/GeoNames/ObjectProperty/ObjectPropertyCommentIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/ObjectProperty/ObjectPropertyIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/ObjectProperty/ObjectPropertyLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/ObjectProperty/ObjectPropertyLabelIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/ObjectProperty/ObjectPropertySubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/ObjectProperty/ObjectPropertyTheType.java -text
src/main/java/edu/uiowa/slis/GeoNames/ObjectProperty/ObjectPropertyTheTypeIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Ontology/Ontology.java -text
src/main/java/edu/uiowa/slis/GeoNames/Ontology/OntologyContributor.java -text
src/main/java/edu/uiowa/slis/GeoNames/Ontology/OntologyContributorIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Ontology/OntologyIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Ontology/OntologyLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/Ontology/OntologySubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/Organization/Organization.java -text
src/main/java/edu/uiowa/slis/GeoNames/Organization/OrganizationIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Organization/OrganizationLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/Organization/OrganizationSubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/Person/Person.java -text
src/main/java/edu/uiowa/slis/GeoNames/Person/PersonIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Person/PersonLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/Person/PersonSubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/Restriction/Restriction.java -text
src/main/java/edu/uiowa/slis/GeoNames/Restriction/RestrictionCardinality.java -text
src/main/java/edu/uiowa/slis/GeoNames/Restriction/RestrictionCardinalityIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Restriction/RestrictionIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Restriction/RestrictionLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/Restriction/RestrictionMaxCardinality.java -text
src/main/java/edu/uiowa/slis/GeoNames/Restriction/RestrictionMaxCardinalityIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/Restriction/RestrictionSubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/Restriction/RestrictionTheType.java -text
src/main/java/edu/uiowa/slis/GeoNames/Restriction/RestrictionTheTypeIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/SymmetricProperty/SymmetricProperty.java -text
src/main/java/edu/uiowa/slis/GeoNames/SymmetricProperty/SymmetricPropertyIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/SymmetricProperty/SymmetricPropertyLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/SymmetricProperty/SymmetricPropertySubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/SymmetricProperty/SymmetricPropertyTheType.java -text
src/main/java/edu/uiowa/slis/GeoNames/SymmetricProperty/SymmetricPropertyTheTypeIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/TagLibSupport.java -text
src/main/java/edu/uiowa/slis/GeoNames/TransitiveProperty/TransitiveProperty.java -text
src/main/java/edu/uiowa/slis/GeoNames/TransitiveProperty/TransitivePropertyIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/TransitiveProperty/TransitivePropertyLabel.java -text
src/main/java/edu/uiowa/slis/GeoNames/TransitiveProperty/TransitivePropertySubjectURI.java -text
src/main/java/edu/uiowa/slis/GeoNames/TransitiveProperty/TransitivePropertyTheType.java -text
src/main/java/edu/uiowa/slis/GeoNames/TransitiveProperty/TransitivePropertyTheTypeIterator.java -text
src/main/java/edu/uiowa/slis/GeoNames/util/Loader.java -text
src/main/java/edu/uiowa/slis/GeoNames/utility/SPARQL.java -text
src/main/java/edu/uiowa/slis/GeoNames/utility/SPARQLObject.java -text
src/main/java/edu/uiowa/slis/GeoNames/utility/SPARQLPredicate.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/non-packaged-resources/ontology.statistics -text
src/non-packaged-resources/ontology_v3.1.rdf -text
src/non-packaged-resources/wgs84_pos.rdf -text
src/test/java/edu/uiowa/slis/GeoNames/README.txt -text
src/test/resources/README.txt -text
